body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

#chat-container {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 25%;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

#sidebar h1 {
    text-align: center;
}

#sidebar label,
#sidebar input,
#sidebar button,
#usuarioSelecionado {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

#listaUsuarios {
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
}

#listaUsuarios p {
    margin: 0;
    padding: 5px;
    cursor: pointer;
}

#listaUsuarios p:hover {
    background-color: #444;
}

#main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

#mensajes {
    margin-bottom: 20px;
}

#input-container {
    display: flex;
    align-items: center;
}

#inputMensaje {
    flex-grow: 1;
    padding: 8px;
    box-sizing: border-box;
    margin-right: 10px;
}

#enviarPublico,
#enviarPrivado {
    padding: 8px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
}

#enviarPrivado {
    background-color: #2196F3;
    margin-left: 10px;
}

select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

  /* Estilo para las opciones <option> */
option {
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

  /* Estilo para destacar la opción seleccionada */
option:checked {
    background-color: #007BFF;
    color: #fff;
}
